In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpages = []
soup_lis = []
for i in range(1, 334):
    webpages.append(requests.get(f'https://www.ambitionbox.com/list-of-companies?page={i}', headers=headers).text)
    soup_lis.append(BeautifulSoup(webpages[i-1], 'lxml'))

In [4]:
name = []
rating = []
reviews = []
ctype = []
hq = []
old = []
employees = []
cinfo = [ctype, hq, old, employees]
for item in soup_lis:
    company = item.find_all('div', class_='company-content-wrapper')
    for i in company:
        k = 0
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p', class_='rating').text.strip())
        reviews.append(i.find('a', class_='review-count').text.strip())
        for j in cinfo:
            try:
                j.append(i.find_all('p', class_='infoEntity')[k].text.strip())
            except IndexError:
                j.append('')
            k = k+1
    d = {'name':name, 'rating':rating, 'reviews':reviews, 'ctype':ctype, 'hq':hq, 'old':old, 'employees':employees}
datasets = pd.DataFrame(d)
datasets

,name,rating,reviews,ctype,hq,old,employees
0,TCS,3.8,(60.4k Reviews),Public,"Mumbai,Maharashtra + 280 more",55 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(38.7k Reviews),Public,Dublin + 139 more,34 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(35.2k Reviews),Private,Teaneck. New Jersey. + 109 more,29 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(28.7k Reviews),Public,"Mumbai,Maharashtra + 1169 more",29 years old,1 Lakh+ Employees (India)
4,Wipro,3.9,(28.7k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 235 more",78 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...,...
9984,Tcg Digital Solu...,3.3,(60 Reviews),Private,"Somerset,New Jersey + 1 more",24 years old,201-500 Employees (India)
9985,Manlift,3.7,(60 Reviews),Private,Dubai + 4 more,16 years old,501-1k Employees (India)
9986,NMTronics India ...,4.2,(60 Reviews),Private,Noida + 5 more,24 years old,201-500 Employees (India)
9987,Willis Processin...,4.0,(60 Reviews),Private,"Mumbai,Maharashtra + 2 more",31 years old,11-50 Employees (India)
9988,The Akanksha Fou...,3.9,(60 Reviews),Private,"Mumbai,Maharashtra + 2 more",32 years old,501-1k Employees (India)

In [5]:
datasets.to_csv('AmbitionBox_Datasets.csv')